.check-wrapper {
    background-color: #e6ffe6;
    border: 1px solid #00cc00;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;

    .title-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .title {
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
                color: #00cc00;
            }

            h3 {
                margin: 0;
                color: #006600;
            }
        }

        span {
            cursor: pointer;
            svg {
                color: #666;
                &:hover {
                    color: #333;
                }
            }
        }
    }

    p {
        margin: 0;
        color: #333;
        font-size: 14px;
    }
}
